.desktop-4 .image-2 {
  background: url('../assets/images/image_2.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-4 .rectangle-42 {
  opacity: 0.5;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-4 .mos-burgers {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Cherry Swash';
  font-weight: 400;
  font-size: 64px;
  color: #FF8200;
}
.desktop-4 .place-orders {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-157 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: 10px solid #FFF4D5;
  background: #FF8200;
  position: relative;
  margin-right: 26px;
  display: flex;
  padding: 18.5px 11.3px 22.5px 0;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 333px;
  box-sizing: border-box;
}
.desktop-4 .menu {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-158 {
  border-radius: 100px;
  background: #FF8200;
  position: relative;
  margin-right: 21px;
  display: flex;
  padding: 16.5px 0 24.5px 24.8px;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 333px;
  box-sizing: border-box;
}
.desktop-4 .customers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-159 {
  border-radius: 100px;
  background: #FF8200;
  position: relative;
  margin-right: 20px;
  display: flex;
  padding: 16.5px 0 24.5px 8.5px;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 333px;
  box-sizing: border-box;
}
.desktop-4 .orders {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-160 {
  border-radius: 100px;
  background: #FF8200;
  position: relative;
  display: flex;
  padding: 15.5px 0 25.5px 10.4px;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 333px;
  box-sizing: border-box;
}
.desktop-4 .group-161 {
  background: rgba(32, 32, 32, 0.7);
  position: absolute;
  left: 0px;
  top: 135px;
  right: 0px;
  display: flex;
  flex-direction: row;
  padding: 26px 17px 25px 24px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-61 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-1 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-15 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-15-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-15-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-1 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-137 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-139 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-140 {
  position: relative;
  display: flex;
  padding: 185.6px 2.1px 0 12.9px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-611 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-11 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-151 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-151-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-151-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-11 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-1371 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container-1 {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-1391 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-128 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 0 2.1px 0 12.9px;
  height: 330px;
  box-sizing: border-box;
}
.desktop-4 .group-142 {
  position: relative;
  display: flex;
  height: 631px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-612 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-12 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-152 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-152-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-152-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-12 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-1372 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container-2 {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-1392 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-1401 {
  position: relative;
  display: flex;
  padding: 185.6px 2.1px 0 12.9px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-613 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-13 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-153 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-153-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-153-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-13 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-1373 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container-3 {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-1393 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-1281 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 0 2.1px 0 12.9px;
  height: 330px;
  box-sizing: border-box;
}
.desktop-4 .group-143 {
  position: relative;
  display: flex;
  height: 631px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-614 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-14 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-154 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-154-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-154-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-14 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-1374 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container-4 {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-1394 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-1402 {
  position: relative;
  display: flex;
  padding: 185.6px 2.1px 0 12.9px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-615 {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 36.9px;
  translate: -50% 0;
  width: 235px;
  height: 293.1px;
}
.desktop-4 .burger-1-removebg-preview-15 {
  background: url('../assets/images/burger_1_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 11.9px;
  width: 184.2px;
  height: 221.4px;
}
.desktop-4 .classic-burger-regular-price-rs-150000-discount-155 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 23px;
  color: #000000;
}
.classic-burger-regular-price-rs-150000-discount-155-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
}
.classic-burger-regular-price-rs-150000-discount-155-sub1 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.desktop-4 .ellipse-15 {
  width: 35px;
  height: 36px;
}
.desktop-4 .group-1375 {
  position: absolute;
  left: 50%;
  bottom: 2px;
  translate: -50% 0;
  display: flex;
  width: 35px;
  height: 36px;
  box-sizing: border-box;
}
.desktop-4 .container-5 {
  border: 1px solid #000000;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-1395 {
  position: absolute;
  right: 23px;
  bottom: 90.6px;
  display: flex;
  padding: 0 4.5px 0 6px;
  box-sizing: border-box;
}
.desktop-4 .group-1282 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 0 2.1px 0 12.9px;
  height: 330px;
  box-sizing: border-box;
}
.desktop-4 .group-144 {
  position: relative;
  display: flex;
  height: 631px;
  box-sizing: border-box;
}
.desktop-4 .group-145 {
  position: absolute;
  left: 80px;
  bottom: 118.4px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-44 {
  opacity: 0.65;
  border-radius: 100px;
  background: #463224;
  position: absolute;
  right: 37px;
  bottom: 31px;
  width: 577px;
  height: 716px;
}
.desktop-4 .image-3 {
  border-radius: 42px;
  border: 1px solid #000000;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin-right: 10.1px;
  width: 147.9px;
  height: 111.5px;
}
.desktop-4 .chicken-burger-large {
  margin-bottom: 12.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.desktop-4 .container-6 {
  margin-bottom: 5.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #EE5F47;
}
.desktop-4 .x {
  margin: 0 9px 4px 0;
  display: inline-block;
  width: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.desktop-4 .lkr {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #EE5F47;
}
.desktop-4 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 264.3px;
  box-sizing: border-box;
}
.desktop-4 .container-3 {
  margin: 22.7px 0 11.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .group-146 {
  border-radius: 13px;
  border: 4px solid rgba(238, 95, 71, 0.68);
  background: #FFDDBB;
  position: absolute;
  right: 68.2px;
  bottom: 323.8px;
  display: flex;
  flex-direction: row;
  padding: 5.9px 45.7px 6.8px 13.7px;
  box-sizing: border-box;
}
.desktop-4 .image-31 {
  border-radius: 42px;
  border: 1px solid #000000;
  background: url('../assets/images/image_3.png') 50% / cover no-repeat;
  margin-right: 10.1px;
  width: 147.9px;
  height: 111.5px;
}
.desktop-4 .chicken-burger-large-1 {
  margin-bottom: 12.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.desktop-4 .container-7 {
  margin-bottom: 5.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #EE5F47;
}
.desktop-4 .x-1 {
  margin: 0 9px 4px 0;
  display: inline-block;
  width: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}
.desktop-4 .lkr-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #EE5F47;
}
.desktop-4 .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 264.3px;
  box-sizing: border-box;
}
.desktop-4 .container-1 {
  margin: 22.7px 0 11.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .group-147 {
  border-radius: 13px;
  border: 4px solid rgba(238, 95, 71, 0.68);
  background: #FFDDBB;
  position: absolute;
  top: 438px;
  right: 68.2px;
  display: flex;
  flex-direction: row;
  padding: 5.9px 45.7px 6.8px 13.7px;
  box-sizing: border-box;
}
.desktop-4 .rectangle-53 {
  border-radius: 100px;
  background: #FF8200;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 47px;
}
.desktop-4 .delete {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #000000;
}
.desktop-4 .group-57 {
  border-radius: 100px;
  position: absolute;
  right: 68.3px;
  bottom: 70.3px;
  display: flex;
  padding: 0 0 3.7px 30.5px;
  width: 255.7px;
  box-sizing: border-box;
}
.desktop-4 .customer-id-contact-number {
  position: absolute;
  top: 359px;
  right: 331.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #FF8200;
}
.desktop-4 .selected-items {
  position: absolute;
  top: 308px;
  right: 192.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  color: #FF8200;
}
.desktop-4 .total-300000-lkr-discounts-000-lkr-bill-details-300000-lkr {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.desktop-4 .group-162 {
  background: #FFDDBB;
  position: absolute;
  right: 77px;
  bottom: 151px;
  display: flex;
  padding: 11px 43.1px 12px 43.1px;
  width: 473px;
  box-sizing: border-box;
}
.desktop-4 .place-order {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #000000;
}
.desktop-4 .group-148 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  background: #FF8200;
  position: absolute;
  right: 308.6px;
  bottom: 69.8px;
  display: flex;
  padding: 3px 0 5.2px 3.8px;
  width: 271.4px;
  box-sizing: border-box;
}
.desktop-4 .logout {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}
.desktop-4 .group-119 {
  border-radius: 100px;
  background: #FF8200;
  position: absolute;
  left: 27px;
  bottom: 22px;
  display: flex;
  padding: 15.5px 0 25.5px 25.8px;
  width: 341px;
  box-sizing: border-box;
}
.desktop-4 {
  background: #FFFFFF;
  padding: 27.5px 43px 0 43px;
  width: 1440px;
  box-sizing: border-box;
}
